[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "==0.115.2"
uvicorn = "==0.31.1"

[dev-packages]
bandit = "*"
checkov = "*"

[requires]
python_version = "3.9"
